.content{
    font-size: 1.3rem;
}
.links{
    text-decoration: none;
    color:white;
}
.links:hover{
    color:rgb(255, 246, 191);
}
.navbar{
    background-color: #4d154d;
    color:white;
    font-size: 25px;
    padding: 5px 15px;
    font-family: 'Roboto', sans-serif;
    height: 50px;
    display: flex;
    align-items: center;
}
.brand{
    color:white;
    text-decoration: none;
}
.brand:hover{
    color:rgb(249, 235, 221);
}